html
  head
    title CS 412 – PS2
  body
    h1 CS 412 – PS2

    if data.string || data.originalString
      p String: #{data.string || data.originalString}
      if data.length
        p Length: #{data.length}
    
    if data.name 
      p Name: #{data.name}